{% comment %} login {% endcomment %}

{%block plogin%}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Login page</title> 
        <link rel="stylesheet" href="{% static 'css/plogin.css'%}"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    </head>
    <body>
        <div class="header">
            <img src=" {% static 'Images/logo.png'%}" alt="logo" />
            <div class="topnav" id="myTopnav">
              <a href="#Banner" >Home</a>
              <a href="#About-Us">About Us</a>
              <a href="#footer">Contact Us</a>
              <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
            </div>
        </div>
        <div class="regform" id="regform">
            <h1>Login</h1>
        </div>

        <div class="main">
            <form action="{% url 'pprofile' %}">
                
                    <h2 class="name">SSN</h2>
                    <input class ="username" type= "text" placeholder="Enter your SSN"  name="name" required >
               
                     <h2 class="name">Password</h2>
                     <input class="password" type="password" placeholder="Enter your password" name="password" minlength="6" maxlength="9" size="9" required>

                    <br><br>

                    <input class="button" type="submit"/>
        
                    
                     

                    <a href="{% url 'signup' %}"><p><b> Doesn't have an account ?<b></p></a>
            </form>
        </div>
        <div id="sideNav">                
            <nav>
              <ul>
                <li><a href="#regform" >Login Form</a></li>
                <li><a href="#footer" >Contact Us</a></li>
              </ul>
            </nav>
          </div>

          <!--the button layout -->
          <div id="menuButton">            
               <img src="{% static 'Images/menu.png' %} " id="menu">
          </div>

          
        <footer id ="footer">
            <p>Contact Us</p>
            <p><b>How to reach our services?</b></p>
            <div class="social">
              <a href="https://www.facebook.com/profile.php?id=100005210747809"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.linkedin.com/in/miran-mahmoud-616a42217/"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </footer>

        <!--the following is our scripts -->
    <script>           
        var menuButton= document.getElementById("menuButton")
        var sideNav= document.getElementById("sideNav")
        var menu = document.getElementById("menu")
  
        sideNav.style.right=="-250px";
  
        menuButton.onclick = function(){ 
             if(sideNav.style.right=="-250px"){sideNav.style.right="0";
             menu.src="{% static 'Images/menu_inverse.png' %}"
            }
             else{ sideNav.style.right="-250px";
             menu.src="{% static 'Images/menu.png' %}"
                 } 
        }  
         var scroll = new SmoothScroll('a[href*="#"]', {
             speed: 1000,
             speedAsDuration: true
    });
      </script>
     </body>
</html>
{%endblock plogin%}















