<!DOCTYPE html>
<html>
    <head>
        <title>Patient Information</title> 
        <link rel="stylesheet" href="{%static 'css/patient.css'%}">  
    </head>
    <body>
        <div class="regform">
            <h1>Patient Information</h1>
            
        </div>

        <div class="main">
            <form method="post" action="{% url 'profile'%}">
                {% csrf_token %}
                <div id="name">
                    <h2 class="name">Name</h2>
                    <input class ="firstname" type= "text" placeholder="Enter your first name"  name="first_name" >

                    <input class ="lastname" type="text" placeholder="Enter your last name"  name="last_name" >
                </div>
                     <h2 class="name">SSN</h2>
                     <input class="SSN" type="text" placeholder="5555-55-555" name="SSN" minlength="4" maxlength="9" size="9" >

                     <h2 class="name">Password</h2>
                    <input class="password" type="password" placeholder="Enter your password" name="password" minlength="6" maxlength="9" size="9"  >

                    <h2 class="name">Email</h2>
                    <input class="email" type="email" placeholder="Enter your Email" name="email" >
                    
                    <h2 class="name">Phone Number</h2>
                    <input class="phone-number" type="number" placeholder="Enter your phone number" name="phone" >

                    <h2 class="name">City</h2>
                    <input class="city" type="text" placeholder="Enter your city" name="city" >

                    <h2 class="name">Address</h2>
                    <input class="address" type="text" placeholder="Enter your address" name="address" >

                    <h2 class="name">Height</h2>
                    <input class="number" type="number" placeholder="Enter your height" name="height"  >

                    <h2 class="name">Weight</h2>
                    <input class="number" type="number" placeholder="Enter your weight" name="weight"  >

                    <h2 class="name">Age</h2>
                    <input class="Age" type="number" placeholder="Enter your age" name="Age" >

                    <h2 class="name">Diabetes type</h2>
                    <input class="Diabetestype" type="text" placeholder="Type I , Type II,..etc" name="Diabetestype"  >

                    <h2 class="name"> Gender</h2>
                    <select class="gender" name="gender" >
	                 <option value="male">Male</option>
	                 <option value="female">Female</option>
                    </select>

                    
            
                    <br><br>
                    
                    <input class="button" type="Submit"/>
                   


            </form>
        </div>
     </body>
</html>






































{%block reg%}

{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Registeration Page</title> 
        <link rel="stylesheet" href="{% static 'css/regstyle.css' %}">  
    </head>
    <body>
        <div class="regform">
            <h1>Registeration form</h1>
            
        </div>

        <div class="main">
            <form method="GET" action="{% url 'profile'% }">
                {% csrf_token %}
                <div id="name">
                    <h2 class="name">Name</h2>
                    <input class ="firstname" type= "text" placeholder="Enter your first name"  name="fname" required>
                    <label class="firstlabel">First name</label>

                    <input class ="lastname" type="text" placeholder="Enter your last name"  name="lname" required>
                    <label class="lastlabel"> Last name</label>
                </div>
                    <h2 class="name">Password</h2>
                    <input class="password" type="password" placeholder="Enter your password" name="password" minlength="6" maxlength="12" required >
                     
                     <h2 class="name">Age</h2>
                     <input class="Age" type="number" placeholder="Enter your age" name="Age" required>

                    <h2 class="name">Email</h2>
                    <input class="email" type="email" placeholder="Enter your Email" name="email" >
                    
                    <h2 class="name">Phone Number</h2>
                    <input class="phone-number" type="number" placeholder="Enter your phone number" name="phone" required>
                    
                
                    <br><br>

                    
                    <input class="button" type="Submit"/>
                    


            </form>
        </div>
     </body>
</html>




{%endblock%}