{%block dpprofile%}
{% load static %}


<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title> 
        <link rel="stylesheet" type= "text/css" href="bootstrap-4.5.3-dist/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="{% static 'css/dpprofile.css' %}">  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div class="header">
            <img src="{% static 'Images/logo.png' %}" alt="logo" />
            <div class="topnav" id="myTopnav">
              <a href="#Banner" >Home</a>
              <a href="#About-Us">About Us</a>
              <a href="#footer">Contact Us</a>
              <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
            </div>
        <div class="container">
            <div class= "main">   
                <div class= "row">
                    <div class="col-md-4 mt-1">
                        <div class="card text-center sidebar">
                            <div class = "card">
                               <img src= "{% static 'Images/profile.png' %}" >
                               <div class="mt-3">
                                   <h3>Miran Mahmoud</h3>
                                   <a href="{% url 'home' %}">Home</a>
                                   <a href="{% url 'drecord' %}">Medical Records</a>
                                   <a href="{% url 'dprediction' %}">Prediction</a>
                                   <a href="{% url 'dmedication_err' %}">Medication Error</a>
                                   <a href="{% url 'dprofile' %}">Signout</a>
                               </div>
                            </div>    
                        </div>    
                    </div> 
                    <div class="col-md-8 mt-1">
                        <div class="card mb-3 content">
                            <h1 class="m-3 pt-3">Patient's Profile</h1>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <p><b>1- Personal Data<b></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h5><b>Full name<b></h5>
                                    </div>
                                    <div class="col-md-9 text-secondary">
                                        Miran Mahmoud Mabrouk Abd Elmaksoud
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h5><b>SSN<b></h5>
                                    </div>
                                    <div class="col-md-9 text-secondary">
                                        5555-555-55
                                    </div>
                                </div>
                                <hr>
                                
                                <div class="row">
                                    <div class="col-md-3">
                                        <h5><b>Email<b></h5>
                                    </div>
                                    <div class="col-md-9 text-secondary">
                                        abc@gmail.com
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h5><b>Phone<b></h5>
                                    </div>
                                    <div class="col-md-9 text-secondary">
                                        0123456789
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h5><b>City<b></h5>
                                    </div>
                                    <div class="col-md-9 text-secondary">
                                        Cairo,Alexandria,..etc
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h5><b>Address<b></h5>
                                    </div>
                                    <div class="col-md-9 text-secondary">
                                        street no.4
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h5><b>Height<b></h5>
                                    </div>
                                    <div class="col-md-9 text-secondary">
                                       165 cm
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h5><b>Weight<b></h5>
                                    </div>
                                    <div class="col-md-9 text-secondary">
                                       60 kg
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h5><b>Age<b></h5>
                                    </div>
                                    <div class="col-md-9 text-secondary">
                                       25 years old
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h5><b>Diabetes type<b></h5>
                                    </div>
                                    <div class="col-md-9 text-secondary">
                                       Type I
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h5><b>Gender<b></h5>
                                    </div>
                                    <div class="col-md-9 text-secondary">
                                       Female
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        
                    </div>   
                </div>    
            </div>    
        </div>
        <div id="sideNav">                
            <nav>
              <ul>
                <li><a href="#regform" >Login Form</a></li>
                <li><a href="#footer" >Contact Us</a></li>
              </ul>
            </nav>
          </div>

          <!--the button layout -->
          <div id="menuButton">            
               <img src="{% static 'Images/menu.png' %}" id="menu">
          </div>

          
        <footer id ="footer">
            <p>Contact Us</p>
            <p><b>How to reach our services?</b></p>
            <div class="social">
              <a href="https://www.facebook.com/profile.php?id=100005210747809"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.linkedin.com/in/miran-mahmoud-616a42217/"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </footer>

        <!--the following is our scripts -->
    <script>           
        var menuButton= document.getElementById("menuButton")
        var sideNav= document.getElementById("sideNav")
        var menu = document.getElementById("menu")
  
        sideNav.style.right=="-250px";
  
        menuButton.onclick = function(){ 
             if(sideNav.style.right=="-250px"){sideNav.style.right="0";
             menu.src="{% static 'Images/menu_inverse.png' %}"
            }
             else{ sideNav.style.right="-250px";
             menu.src="{% static 'Images/menu.png' %}"
                 } 
        }  
         var scroll = new SmoothScroll('a[href*="#"]', {
             speed: 1000,
             speedAsDuration: true
    });
      </script>
     </body>
</html>



{%endblock dpprofile%}